streamlit
langchain
langchain-community
langchain-core
langchain-groq
groq

sentence-transformers
huggingface-hub

pandas
numpy

PyPDF2
python-docx
openpyxl

plotly
python-pptx

reportlab

python-dotenv

scikit-learn
pillow
tqdm
altair
faiss-cpu
wordcloud
